body {
	padding: 0;
	margin: 0;
	background-color: rgba(250, 250, 250, 1);
	font-family: 'Gotham', Helvetica;
}
h2 {
	padding: 0;
	margin: 0;
}
#shadow {
	padding: 10px;
	margin: none;
/*	border: 1px solid black;*/
}

.navbar {
	border-top: 4px solid #26ce61;
	border-bottom: 3px solid #e9eaee;
	width: 100%;
	background-color: #ffffff;
	height: 120px;
	position: fixed;
	top: 0;
	z-index: 1;
/*	border: 1px solid black;*/
}
.logo {
	width: 180px;
	height: 100px;
	padding-top: 10px;
}
.nav {
	display: inline-block;
	margin-top: 5px;
}
a {
	padding: 7px;
	text-decoration: none;
	color: #333333;
/*	border: 1px solid black;*/
}
a:hover {
	background-color: #f0f0f0;
}
.nav-content{
	width: 100%;
	height: 120px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
/*	border: 1px solid black;*/
}
.links-container {
	vertical-align: top;
}
.circle-section{
	margin-top: 30px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 90%;
	height: 450px;
	border-bottom: 1px solid #ddd;
}
.circle-column {
	vertical-align: top;
	height: 400px;
	display: inline-block;
	width: 31%;
	margin-right: 3%;
	text-align: center;
}
.circle-column:nth-child(3) {
	margin-right: 0;
}
.circ {
	height: 200px;
	width: 200px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 150px;
	transition: .5s;
}
.circ:hover {
	height: 260px;
	width: 260px;
}
#one {
	background-image: url("images/circle-1.jpg");
	background-size: cover;
}
#two {
	background-image: url("images/circle-2.jpg");
	background-size: cover;
}
#three {
	background-image: url("images/circle-3.jpg");
	background-size: cover;
}
.info-section {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 150px;
	height: 600px;
	background-image: url("images/homepg.jpg");
	background-size: cover;
	opacity: 0.9;
	border-bottom: 1px solid #ddd;

}
.top-text {
	padding: 7px;
	position: absolute;
	top: 500px;
	left: 110px;
	height: 200px;
	width: 600px;
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
	line-height: 25px;
}
.bottom-text {
	padding: 10px 10px 20px 20px;
	position: absolute;
	right: 100px;
	top: 300px;
	width: 300px;
	height: 400px;
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
	line-height: 25px;
}
@font-face {
	font-family: 'Gotham';
	src: url("fonts/gothammedium-webfont.ttf") format("truetype");
}

.bar {
	display: none;
}

.vertical-navbar {
	display: none;
}

#mySidenav {
	display: none;
}

span {
	display: none;
}

@media screen and (max-width: 1250px) {
	.info-section {
		display: none;
	}
	h2 {
		font-size: 20px;
		padding: 6px;
	}
	a {
		padding: 3px;
	}
	.logo {
		height: 70px;
		width: 120px;
	}
	.navbar {
		height: 90px;
	}

@media screen and (max-width: 900px) {
	h2 {
		font-size: 16px;
		padding: 3px;
	}
	a {
		padding: 2px;
	}
	.logo {
		height: 55px;
		width: 90px;
	}
	.navbar {
		height: 75px;
		position: fixed;
	}
}

@media screen and (max-width: 675px) {
	h2 {
		font-size: 14px;
		padding: 2px;
	}
	a {
		padding: 2px;
	}
	.logo {
		height: 35px;
		width: 60px;
	}
	.navbar {
		height: 60px;
		position: fixed;
	}

}

@media screen and (max-width: 768px) {
h2 {
	font-size: 16px;
	padding: 3px;
}
a {
	padding: 2px;
}
.logo {
	height: 55px;
	width: 90px;
}
.navbar {
	height: 75px;
	position: fixed;
}
@media screen and (max-width: 675px) {
.links-container {
	display: none;
}
#mySidenav {
	display: inline-block;
}
span {
	position: absolute;
	top: 20px;
	right: 10px;
	display: block;
}

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

}